@import "base.css";
@import "components.css";
/* main style */
.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.home_content > p {
    max-width: 60%;
    padding: 1.5em;
    background-color: rgba(255, 245, 235, 0.9); 
    border-left: 5px solid var(--primary-color); 
    border-radius: 10px;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #5a5a5a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align:start;
}
.home_content > p > b {
    
    color: var(--primary-color); 
    font-size: 1.2em;
}

.menu_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:25px;
    border-radius: 20px 20px 0 0;
    background: var(--bg-color);
}
.menu_content > h2 {
    align-self: center;
    color: var(--primary-color);
    border-bottom: 2px dashed #a45cac; 
    padding-bottom: 8px; 
    margin-bottom: -20px; 
    
}
.menu_content > .section_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    padding:25px;

}

/* card style */
.card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card_name {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
}

.card_details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    padding: 20px;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    border-radius: 10px;
    
}

.card:hover {
    transform: translateY(-5px);
}

.card:hover .card_details {
    opacity: 1; 
}

.choose_topping_btn , .choose_Qty_btn{
    padding: 10px 20px;
    font-size: 1em;
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.choose_topping_btn:hover , .choose_Qty_btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.toppings , .quantitys{
    margin-top: 15px;
    display: none;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}

.toppings label , .quantitys label{
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

.toppings input[type="checkbox"] , .quantitys input[type="checkbox"] {
    margin-right: 5px;
    accent-color: var(--primary-color);
}

.price_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.price_cart > span {
    font-size: 1.1em;
    color: var(--primary-color);
}

.cart_button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    transition: transform 0.2s ease;
}

.cart_button:hover {
    transform: scale(1.1);
}

/* Responsive for mobile */
@media (max-width:599px) {
    /* Responsive nav */
    .nav_menu ul{
        display: none; 
        flex-direction: column; 
        position: absolute; 
        background-color: rgba(57, 56, 56, 0.9); 
        top: 4.2em; 
        width: 100%; 
        left: 0;
        z-index: 1000; 
        align-items: center;
        transition: all ease-in-out 0.4s;
    }

    .nav_menu.active ul {
        display: flex;
    }

    .hamburger {
        display: block; 
    }

    /* Responsive main */
    .home_content {
        padding: 0.5em;
    }
    .home_content > p {
        max-width: 85%;
        padding: 1em;
        font-size: 1.25em;
        line-height: 1.3em;
       
    }
    .home_content > p > b {
        font-size: 1.3em;
    }

    .social-share h3 {
        margin-right: 10px;
        font-size: 1.1em;
    }
    
}
/* Responsive for S mobile */
@media (max-width:365px) {
    .menu_content {
        gap: 10px;
        padding:10px;
    }
    .social-share h3 {
        margin-right: 5px;
        font-size: 0.9em;
    }
    
}

/*  Responsive Tablet*/
@media ((min-width:600px) and (max-width:768px)) {
    /* Responsive nav */
    .nav_menu ul li a {
        font-size: 0.9em;
    }
    .logo_img {
        width:80%;
    }
    /* Responsive main */
    .home_content {
        padding: 0.5em;
    }
    .home_content > p {
        max-width: 85%;
        padding: 0.9em;
        font-size: 0.9em;
        line-height: 1.1em;
       
    }
    .home_content > p > span {
        font-size: 1em;
    }
}
/*  End Responsive */

.social-share {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.social-share h3 {
    margin-right: 10px;
    font-size: 1.2em;
}

.social-share img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.social-share img:hover {
    transform: scale(1.1);
}
/*  */
/* General figure styling */
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Styling for figcaption within figure */
figcaption {
    padding: 10px;
    font-size: 1em;
    text-align: center;
}

